html,
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}

	&.light {
		color: #fff;
	}
}


.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 700;
	height: 100vh;
}

.black {
	color: #f1f1f1;
	background-color: #000;
}

.gray {
	color: #000;
	background-color: #f1f1f1;
}
